In [1]:
# here I import all relevant modules
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
import matplotlib.pyplot as plt
import seaborn as sns
import wrangle
import scipy.stats as stats
from matplotlib import style
style.use('ggplot')
import itertools

1. Acquire bedroomcnt, bathroomcnt, calculatedfinishedsquarefeet, taxvaluedollarcnt, yearbuilt, taxamount, and fips from the zillow database for all 'Single Family Residential' properties.

In [2]:
zillow = wrangle.get_zillow_data()

Reading from csv...

In [3]:
# sort for single family residential (value == 261)
zillow = zillow[zillow.propertylandusetypeid==261]

In [4]:
# keep the columns I want: bedroomcnt, bathroomcnt, calculatedfinishedsquarefeet, taxvaluedollarcnt, yearbuilt, taxamount, and fips
columns = ['bedroomcnt', 'bathroomcnt', 'calculatedfinishedsquarefeet', 'taxvaluedollarcnt', 'yearbuilt', 'taxamount', 'fips']
zillow = zillow[columns]

2. Using your acquired Zillow data, walk through the summarization and cleaning steps in your wrangle.ipynb file like we did above. You may handle the missing values however you feel is appropriate and meaninful; remember to document your process and decisions using markdown and code commenting where helpful.

In [5]:
zillow.info()
#2152863

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2152863 entries, 1 to 2982282
Data columns (total 7 columns):
 #   Column                        Dtype
---  ------                        -----
 0   bedroomcnt                    float64
 1   bathroomcnt                   float64
 2   calculatedfinishedsquarefeet  float64
 3   taxvaluedollarcnt             float64
 4   yearbuilt                     float64
 5   taxamount                     float64
 6   fips                          float64
dtypes: float64(7)
memory usage: 131.4 MB

In [6]:
# drop the nulls, its a small subset of data as 
zillow = zillow.dropna()
#2140235 
#lets look how at how much was dropped? 
(2140235-2152863)/2152863
#.5%

-0.005865677472277613

In [7]:
zillow.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2140235 entries, 20 to 2982282
Data columns (total 7 columns):
 #   Column                        Dtype
---  ------                        -----
 0   bedroomcnt                    float64
 1   bathroomcnt                   float64
 2   calculatedfinishedsquarefeet  float64
 3   taxvaluedollarcnt             float64
 4   yearbuilt                     float64
 5   taxamount                     float64
 6   fips                          float64
dtypes: float64(7)
memory usage: 130.6 MB

3. Store all of the necessary functions to automate your process from acquiring the data to returning a cleaned dataframe witn no missing values in your wrangle.py file. Name your final function wrangle_zillow.

In [8]:
zillow = wrangle.prep_zillow()

preparing data from get_zillow_data
Reading from csv...
Saving prepped data to csv in local directory...

In [9]:
zillow

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips
20,4.0,2.0,3633.0,296425.0,2005.0,6941.39,6037.0
31,3.0,4.0,1620.0,847770.0,2011.0,10244.94,6037.0
33,3.0,2.0,2077.0,646760.0,1926.0,7924.68,6037.0
62,0.0,0.0,1200.0,5328.0,1972.0,91.60,6037.0
97,0.0,0.0,171.0,6920.0,1973.0,255.17,6037.0
...,...,...,...,...,...,...,...
2982265,4.0,4.0,4375.0,422400.0,2015.0,13877.56,6037.0
2982268,4.0,3.0,2262.0,960756.0,2015.0,13494.52,6059.0
2982270,4.0,4.5,3127.0,536061.0,2014.0,6244.16,6059.0
2982275,3.0,2.5,1974.0,424353.0,2015.0,5302.70,6059.0
2982282,4.0,4.0,2110.0,554009.0,2014.0,6761.20,6037.0

In [10]:
zillow = wrangle.prep_zillow()
zillow

Prepped csv exist, pulling data...

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips
0,4.0,2.0,3633.0,296425.0,2005.0,6941.39,6037.0
1,3.0,4.0,1620.0,847770.0,2011.0,10244.94,6037.0
2,3.0,2.0,2077.0,646760.0,1926.0,7924.68,6037.0
3,0.0,0.0,1200.0,5328.0,1972.0,91.60,6037.0
4,0.0,0.0,171.0,6920.0,1973.0,255.17,6037.0
...,...,...,...,...,...,...,...
2140230,4.0,4.0,4375.0,422400.0,2015.0,13877.56,6037.0
2140231,4.0,3.0,2262.0,960756.0,2015.0,13494.52,6059.0
2140232,4.0,4.5,3127.0,536061.0,2014.0,6244.16,6059.0
2140233,3.0,2.5,1974.0,424353.0,2015.0,5302.70,6059.0
2140234,4.0,4.0,2110.0,554009.0,2014.0,6761.20,6037.0